doctype html
html(lang="zh-cmn-Hans")
    head
        title= title
        link(rel='stylesheet', href='/web/output/dist/css/admin.css')
        script(src='/web/output/dist/js/vendor.js')

    body
        #app
        script(src='/web/output/dist/js/admin.js')