extends ./blog_layout.jade

block content
	.blog-articles-layout
		.one
			img(src='http://image.wufazhuce.com/FoBEubfSGAroMoMdI_jx0nH0gh7y')
			p.text.
				长大了一些的我们，开始懂得不能再这样轻易哭泣，也拥有了更复杂的情感，学着在各种说不清原因的行为里作出抉择。
				那一天，我们也陷入了选择的困境，但我们对这种迷失毫无察觉。

		.blog-tags.J-blog-tag
			a.tag 所有文章
			each tag in tags
				a.tag(data-tag=tag)=tag.name

		.blog-articles-list
			ul#J-article-ul
				each article, index in articles
					li.article-tiem
						a(href='javascript:void(0);')
							span.article-num= ( index + 1)
							h3(data-id=article.id)= article.title
