<% include header.html %>
    <div class="container">
        <form method="post" class="form create">
            <div>
                <label>标题：</label>
                <input placeholder="" type="text" name="title">
            </div>
            <div>
                <label>内容：</label>
                <textarea name="content" id="" cols="42" rows="10"></textarea>
            </div>
            <div class="submit">发表</div>
        </form>
    </div>
    <script>
    $('.submit').click(() => {
        $.ajax({
            url: "/api/create/article",
            data: $('.form').serialize(),
            type: "POST",
            cache: false,
            dataType: 'json',
            success: function(res) {
                if (res.code != 200) {
                    $('.success').text(res.message)
                    fade('.message')
                } else {
                    $('.success').text('发表成功')
                    fade('.message')
                }
                setTimeout(() => {
                    window.location.href = "/";
                }, 1000)
            },
            error: function() {
                alert('异常');
            }
        })
    })
    </script>
<% include footer.html %>