<% include header.html %>
    <div class="container">
        <form class="form create" method="post ">
            <div>
                <label>用户名：</label>
                <input placeholder="用户名" type="text" name="userName">
            </div>
            <div>
                <label>密码：</label>
                <input placeholder="密码" type="password" name="password">
            </div>
            <div class="submit">登录</div>
        </form>
    </div>
    <script>
    $('.submit').click(() => {
        $.ajax({
            url: "/api/signin",
            data: $('.form').serialize(),
            type: "POST",
            cache: false,
            dataType: 'json',
            success: function(res) {
                if (res.code != 200) {
                    $('.error').text(res.message);
                    $('.success').text('');
                    fade('.message')
                } else {
                	$('.error').text('');
                    $('.success').text('登录成功');
                    fade('.message');
                    console.log(res);
                    setTimeout(() => {
                        window.location.href = "/index"
                    }, 1000);
                }
                //console.log($('.ui.error.message').text);
            },
            error: function() {
                alert('异常');
            }
        })

    })
    </script>
<% include footer.html %>