// http://iconfont.cn/manage/index?manage_type=myprojects&projectId=456468
// @import url("//at.alicdn.com/t/font_456468_9wlxah19mfhl4n29.css");
@keyframes loadingCircle {
    0% {
        transform-origin: 50% 50%;
        transform: rotate(0deg)
    }
    to {
        transform-origin: 50% 50%;
        transform: rotate(1turn)
    }
}


@font-face {
    font-family: 'iconfont';
    /* project id 456468 */
    src: url('//at.alicdn.com/t/font_456468_i6da38w4k8b.eot');
    src: url('//at.alicdn.com/t/font_456468_i6da38w4k8b.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_456468_i6da38w4k8b.woff') format('woff'),
    url('//at.alicdn.com/t/font_456468_i6da38w4k8b.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_456468_i6da38w4k8b.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-large {
    font-size: 30px;
}

.icon-tuchong:before {
    content: "\e63f";
}

.icon-info-circle:before {
    content: "\e7c2";
}

.icon-exclamation-circle:before {
    content: "\e750";
}

.icon-reply:before {
    content: "\e60d";
}

.icon-leftcircleo:before {
    content: "\e865";
}

.icon-rightcircleo:before {
    content: "\e916";
}

.icon-menu-circle:before {
    content: "\e672";
}

.icon-cc-tag:before {
    content: "\e6a3";
}

.icon-yinhao:before {
    content: "\e64e";
}

.icon-qzone:before {
    content: "\e605";
}

.icon-douban:before {
    content: "\e796";
}

.icon-message:before {
    content: "\e676";
}

.icon-github:before {
    content: "\e625";
}

.icon-yinhao3:before {
    content: "\e63c";
}

.icon-zhihu:before {
    content: "\e619";
}

.icon-close-x:before {
    content: "\e628";
}

.icon-check-circle:before {
    content: "\ebd5";
}

.icon-dot-big:before {
    content: "\e65e";
}

.icon-avatar:before {
    content: "\e731";
}

.icon-menu:before {
    content: "\e70d";
}

.icon-cross-circle:before {
    content: "\e655";
}

.icon-visit:before {
    content: "\e604";
}

.icon-tag:before {
    content: "\e733";
}

.icon-emoji:before {
    content: "\e627";
}

.icon-avatar-stubble:before {
    content: "\e601";
}

.icon-wechatc:before {
    content: "\e606";
}

.icon-double-right:before {
    content: "\e66a";
}

.icon-top:before {
    content: "\e602";
}

.icon-loading:before {
    content: "\e6be";
}

.icon-date:before {
    content: "\e69b";
}

.icon-avatar-code:before {
    content: "\e60a";
}

.icon-close:before {
    content: "\e675";
}

.icon-double-left:before {
    content: "\e616";
}

.icon-bold-arrow-right:before {
    content: "\e658";
}

.icon-load-dot:before {
    content: "\e620";
}

.icon-send:before {
    content: "\e603";
}

.icon-arrow-down:before {
    content: "\e600";
}

.icon-dot:before {
    content: "\e6b3";
}

.icon-weibo:before {
    content: "\e611";
}

.icon-bold-arrow-left:before {
    content: "\e70e";
}

.icon-yinhao1:before {
    content: "\e6e2";
}

.icon-spin:before {
    display: inline-block;
    animation: loadingCircle 1s infinite linear;
}