<% include header.html %>
<div class="blog-article">
<% if (article) { %>
    <article>
        <h2 class="article-title"><p><em><%= article.title %></em></p></h2>
        <p class="article-desc">
            <span>发布时间: <%= article.createTime %></span>
            <% if ( article.tags && article.tags.length ) {%>
                <span class="ml">标签：<% article.tags.forEach(function(tag) { %><%= tag.name %> <% }) %></span>
            <% } %>
        </p>
        <div class="article-content">
            <%- article.htmlContent %>
        </div>
    </article>
<% } else {%>
    <div class="no-article">
        <p>文章不存在或已删除</p>
    </div>
<% } %>
</div>
<% include footer.html %>