.blog-articles-layout {
    margin: 0 auto;
    width: 70%;
    padding-top: .65rem;
    .banner-item {
        position: relative;
        font-size: .2rem;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-color: #ccc;
        img {
            display: block;

            &[hidden] {
                display: none;
            }
        }
        .text {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: .1rem .15rem;
            color: #fff;
        }
    }

    .banners {
        height: 4rem;
        height: 65vh;
    }

    .banners-two {
        height: 3.2rem;
        .banner-item {
            width: 49%;
        }
    }

    .banners-three {
        height: 4rem;

        .left-col,
        .right-col {
            height: 100%;
            border-color: #fff;
            border-style: solid;
        }

        .left-col {
            width: 60%;
            border-right-width: .03rem;
            font-size: .18rem;
        }

        .right-col {
            width: 40%;
            border-left-width: .03rem;
        }

        .right-col .banner-item {
            height: 50%;
            border-bottom: .05rem solid #fff;
            font-size: .16rem;

            &:last-child {
                border-bottom: 0;
                borer-top: .05rem solid #fff;
            }

            .text {

            }
        }
    }

    .blog-tags {
        margin-top: .2rem;
        min-height: .45rem;
        border-bottom: 1px solid rgba(19, 22, 27, .5);


        .tag {
            margin-right: .1rem;
            padding: .1rem .05rem .05rem .05rem;
            font-weight: 600;
            transition: all .5s;
            border-bottom: 1px solid transparent;
            display: inline-block;
            cursor: pointer;
            color: #555;

            &:hover {
                border-color: #212121;
            }
        }

        .tag-active {
            font-size: .16rem;
        }
    }


    .blog-articles-list {
        margin: .2rem 0;
        font-size: 0;

        li {
            position: relative;
            width: 50%;
            display: inline-block;
            vertical-align: middle;
            height: .6rem;
            cursor: pointer;
        }

        a {
            display: flex;
        }

        h3 {
            margin-top: .1rem;
            padding-right: .1rem;
            font-size: .16rem;
            word-break: break-all;
            flex: 1;
        }

        .article-num {
            margin-right: .08rem;
            color: #d1a47d;
            font-size: .3rem;
            line-height: 1;
            font-style: oblique;
            display: inline-block;
        }
    }
}