.blog-articles-layout {
    margin: 0 auto;
    width: 70%;
    padding-top: .45rem;
    .banner-item {
        position: relative;
        font-size: .18rem;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-color: #ccc;
        a {
            display: block;
            height: 100%;
        }
        img {
            display: block;

            &[hidden] {
                display: none;
            }
        }
        .text {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: .05rem .1rem;
            color: #fff;
            background-color: rgba(0, 0, 0, .1);
        }
    }

    .banners {
        height: 4rem;
        height: 65vh;
    }

    .banners-two {
        height: 3rem;
        .banner-item {
            width: 49%;
        }
    }

    .banners-three {
        height: 3.1rem;

        .left-col,
        .right-col {
            height: 100%;
            border-color: #fff;
            border-style: solid;
        }

        .left-col {
            width: 60%;
            border-right-width: .03rem;
            font-size: .14rem;
        }

        .right-col {
            width: 40%;
            border-left-width: .03rem;
        }

        .right-col .banner-item {
            height: 50%;
            border-bottom: .05rem solid #fff;
            font-size: .12rem;

            &:last-child {
                border-bottom: 0;
                borer-top: .05rem solid #fff;
            }

            .text {}
        }
    }

    .blog-tags {
        margin-top: .1rem;
        min-height: .3rem;
        border-bottom: 1px solid rgba(19, 22, 27, .5);

        .tag {
            margin-right: .08rem;
            padding: .05rem;
            display: inline-block;
            cursor: pointer;
            color: #555;
            line-height: 1;

            &:hover {
                color: #d1a47d;
            }
        }

        .tag-active {
            color: #d1a47d;
            font-weight: bold;
        }
    }


    .blog-articles-list {
        margin: .15rem 0;
        font-size: 0;

        ul {
            padding-left: 0;
        }

        li {
            position: relative;
            width: 50%;
            display: inline-block;
            vertical-align: middle;
            height: .55rem;
            cursor: pointer;
        }

        a {
            display: flex;
        }

        h3 {
            margin-top: .06rem;
            padding-right: .1rem;
            font-size: .14rem;
            word-break: break-all;
            flex: 1;
            font-weight: 400;
        }

        .article-num {
            margin-right: .08rem;
            color: #d1a47d;
            font-size: .3rem;
            line-height: 1;
            font-style: oblique;
            display: inline-block;
        }
    }
}