.banner-setting-layout {

    .banner-img {
        width: 2.5rem;
        text-align: center;

        .anticon-picture {
            font-size: 1.5rem;
        }

        img {
            width: 100%;
        }
    }

    .banner-info {
        padding-left: .2rem;
        flex: 1;
    }

    .btn {
        padding: 0 .2rem;
        button {
            margin-bottom: .1rem;
            display: block;
        }
    }

    label {
        margin: .1rem 0;
        display: flex;
        align-items: center;
    }

    input {
        flex: 1;
    }

    h2 {
        font-size: .15rem;
        padding: .15rem 0 0 .2rem;
    }

    .laberl-text {
        width: .5rem;
    }

    .uploader {
        margin-left: .1rem;
    }

    .banner-box {
        margin: .2rem;
        padding: .1rem;
        display: flex;
        background-color: #fff;
        align-items: center;
    }

    .book-banner {
        display: block;

        textarea,
        input {
            margin-bottom: .1rem;
        }
    }
}