.blog-message-layout {
    padding: .35rem 0; // background-color: #d8d8d8;
    .blog-message-header {
        position: relative;
        height: 4.5rem;
        height: 75vh;
        background: no-repeat 50% #cef;
        background-position: 50%;
        background-size: cover;
    }

    .blog-message-body {
        width: 80%;
        margin: 0 auto;
    }

    .blog-message-header-input {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        padding: 20px;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, .6);
        border-radius: 4px;
    }

    .blog-comment-input {
        .emoji-box {
            position: absolute;
            left: 0;
            top: 1.3rem;
            box-shadow: 0 0 4px #ddd;
        }

        textarea {
            background-color: rgba(255, 255, 255, .6);
        }
    }

    .blog-message-list {
        box-sizing: border-box;
        padding: 20px 0;
    }

    .blog-message-item {
        padding: 1px 0;
        box-sizing: border-box;

        .blog-message-item-box {
            position: relative;
            margin-top: .1rem;
            font-size: .14rem; // &:before,
            // &:after {
            //     position: absolute;
            //     padding: 0 .06rem;
            //     font-family: "iconfont" !important;
            //     font-size: .2rem;
            //     font-style: normal;
            //     -webkit-font-smoothing: antialiased;
            //     -moz-osx-font-smoothing: grayscale;
            //     content: "\e63c";
            //     background-color: #fff;
            //     line-height: 1;
            //     display: none;
            // }
            // &:before {
            //     top: -.13rem;
            //     left: .17rem;
            // }
            // &:after {
            //     bottom: -.12rem;
            //     right: .17rem;
            //     transform: rotateZ(-180deg);
            // }
        }

        .blog-message-item-body {
            max-width: 80%;
            margin-top: .2rem;
            padding: .04rem .2rem .1rem;
            border: .01rem solid #8e8e8e;
            border-radius: .04rem;

            &.fl {
                margin-left: -.2rem;
            }

            &.fr {
                margin-right: -.2rem;
            }
        }

        .blog-message-item-box-avatar {
            position: relative;
            width: .5rem;
            height: .5rem;
            border-radius: .5rem;
            background-color: #fff;
            overflow: hidden;
            z-index: 1;

            i {
                font-size: .5rem;
                line-height: 1;
            }


            .avatar-img {
                width: .5rem;
                height: .5rem;
                border-radius: .5rem;
                text-align: center;
                border: 2px solid #212121;
                display: table-cell;
                vertical-align: middle;
            }

            .avatar-img img {
                width: 80%;
                max-height: 100%;
                line-height: .4rem;
                vertical-align: middle;
            }
        }

        .blog-message-item-user {
            small {
                margin-left: .1rem
            }
        }

        .fr .blog-message-item-user {
            text-align: right;
        }

        .blog-message-item-text {
            min-width: 2rem;
            padding: .05rem;
            background-color: #c1e0db;
            border-radius: .04rem;

            blockquote {
                margin: .05rem 0;
                padding-left: .05rem;
                color: #999;
                border-left: .02rem solid #888;
            }
        }
    }

    .blog-message-item-fcd474 .blog-message-item-box {
        .blog-message-item-text {
            background-color: #fcd474;
        }
    }


    .blog-message-item-ffcdac .blog-message-item-box {
        .blog-message-item-text {
            background-color: #ffcdac;
        }
    }

    .comment-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .4);
        z-index: 3;

        .comment-close {
            position: absolute;
            top: -.1rem;
            right: -.1rem;
            padding: .1rem;
            font-size: .2rem;
            line-height: 1;
            cursor: pointer;
        }
    }

    .comment-reply-from {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -1.5rem 0 0 -2.5rem;
        padding: .1rem;
        width: 5rem;
        background-color: #fff;

        .comment-input textarea {
            margin-top: .15rem;
        }

        h6 {
            margin: 0;
        }
    }

    .comment-user-modal-form {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -1.6rem 0 0 -1.25rem;
        width: 2.5rem;
        background-color: #fff;
        text-align: center;

        img {
            width: 60%;
            margin: .15rem 0;
        }

        input {
            margin: .1rem auto;
            width: 80%;
            display: block;
            border-color: #d8d8d8;
            border-width: 0 0 1px 0;
            text-align: center;
            box-shadow: none;
            border-radius: 0;
        }

        button {
            width: 50%;
            padding: .05rem;
            background-color: #fff;
            border: none;
            outline: none;
            color: #333;
            border-radius: 0;

            &:first-child {
                border-right: 1px solid #212121;
            }
        }

        .btns {
            margin-top: .2rem;
            border-top: 1px solid #212121;
            text-align: center;
        }
    }
}