.blog-photo-layout {

    .photo-banner {
        img {
            margin: 0 auto;
            width: auto;
            max-width: 100%;
            display: block;
        }
    }

    .photo-text {
        padding: .6rem 20%;
        h2 {
            font-size: .2rem;
            color: #4c402a;
            line-height: 3;
            font-weight: bold;
        }
    }

    .photo-list {
        padding: 0 10%;
    }

    .photo-item {
        position: relative;
        background-color: #eee;
        cursor: pointer;
        overflow: hidden;
        float: left;

        img {
            display: block;
            transition: transform .135s cubic-bezier(0.0,0.0,0.2,1),opacity linear .15s;
        }
    }
}