.article-manage-layout {
    .article-manage-header {
        background-color: inherit;
        padding: 0 15px;
        h3 {
            color: #777;
            display: inline-block;
        }
    }

    .article-manage-content {
        padding: 0 15px;
        overflow-y: scroll;
    }

    .article-pn {
        text-align: center;
    }

    .ant-card-extra {
        margin-right: -24px;
    }

    .article-list {
        margin: 0 -8px;

        .ant-col-8 {
            border: 8px solid #ececec;
        }

        .ant-card {
            padding: 5px;
            background-color: #fff;
        }

        .one-card {
            margin: 15px 0;
        }
    }

    .article-delete {
        padding: 10px;
        color: #fa3131;
        cursor: pointer;
    }

    .article-content {
        min-height: 70px;
        color: #4b4b4b;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        font-size: 12px;
    }

    .article-footer {
        height: 22px;
        margin-top: 10px;
        color: #d8d8d8;
        line-height: 22px;
        .ant-btn {
            line-height: 24px;
        }
    }

    .ant-card-head-title,
    .ant-card-extra {
        padding: 0;
        line-height: 48px;
        font-size: 14px;
    }

    .ant-card-hoverable:hover {
        box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
        border-color: rgba(0, 0, 0, .2);
    }

    .loading {
        position: relative !important;
        margin: .4rem auto;
        width: 80%;
        text-align: center;

        .ant-spin {
            left: 0;
        }
    }
}