.blog-about {
    padding: .7rem .2rem;

    .about-me {
        margin: .4rem auto;
        width: 60%;

        h1 {
            padding-bottom: .1rem;
            font-size: .26rem;
            font-weight: 600;
        }
    }
}