.blog-about {
    padding: .7rem .2rem;

    .about-me {
        margin: .6rem auto 1.2rem auto;
        width: 60%;

        h1 {
            padding-bottom: .1rem;
            font-size: .26rem;
            font-weight: 600;
        }
    }

    .about-module {
        margin: 0 auto .8rem auto;
        width: 80%;

        img {
            width: 54%;
        }

        h2 {
            margin-bottom: .2rem;
            color: #4b3f27;
            font-size: .2rem;
            font-weight: 600;
        }

        .moule-txt {
            width: 46%;
            padding: .4rem 0;
        }

        .pdl {
            padding-left: .4rem;
        }

        .pdr {
            padding-right: .4rem;
        }
    }
}